.sideNav{
    height: 100vh;
    background-color: white;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.profileBar{
    background-color: gray;
    height: 97px;
    padding: 10px;
}